body {
min-width: 960;
min-height: 2380px;
}

h1 {
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
    color: blueviolet;
    font-weight: 700;
    font-size: 81px;
    padding-top: 151px;
    padding-bottom: 0px;
    margin-top: 0;
    
}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
    color: whitesmoke;
    text-align: center;
    font-weight: 520;
    font-size: 31px;
    margin-top: -60px;
}
h1, h2 { margin: 0; }

header h2 {
    padding-bottom: 180px
}
body > header {
    background-image: url(https://gradients.design/public/uploads/files/v6.png);
    background-position: center;
    background-size: cover;
}

h3 {
    font-family: 'Archivo Narrow', sans-serif;
    color: lightpink;
    text-align: center;
    font-weight: 520;
    font-size: 40px;
}

.main {
    background-color: palevioletred;
    padding-bottom: 55px;
    padding-left: 210px;
    padding-right: 210px;
    padding-top: 10px

}
  
#first {
    font-family: 'Archivo Narrow', sans-serif;
    color: navy;
    font-weight: 550;
    font-size: 16.75px;
    line-height: 30px;

}


.pic {
    object-fit: cover;
    width: 400px;
    height: 300px ;
    float: right; 
    margin: -10px 5px 0px 0px; 
    padding: 10px;
}

h4 {
    font-family: 'Archivo Narrow', sans-serif;
    color: black;
    text-align: center;
    font-weight: 520;
    font-size: 40px;
    margin-top: -45px;
    padding-top: 72px;

}

.grid {
display: grid;
display: inline-block;
grid-template-columns: 100px 100px;
padding-left: 100px;
width: 100%;
padding-top: -10px;
}

.grid li {
    display: block;
    margin-bottom: 22px;
    color: white;
    width: 50%;
 

}

.shoe {
    width: 200px;
    height: 150px;
    object-fit: cover;
    float: left;
    padding-right: 20px;
}

h5 {
    font-family: 'Archivo Narrow', sans-serif;
    margin-top: 0;
    font-weight: 200px;
    font-size: 25px
}

h6 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 18px;
    font-weight: 120px;
    margin-top: -60px;
    margin-right: 200px;
    padding-left: 10px;
    
}


.using-floats li {
    float: left;
}

.using-floats::after {
    content: "";
    display: block;
    clear: both;

}
.second {
    background-color: blueviolet;
  }

.last {
    font-family: 'Archivo Narrow', sans-serif;
    background-size: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 120px;
    padding-right: 250px;
    padding-left: 250px;
    padding-top: -30px;
    
}
.four {
    font-family: 'Archivo Narrow', sans-serif;
    color: black;
    text-align: center;
    font-weight: 520;
    font-size: 40px;
    margin-top: -45px;
    padding-top: 30px;
}


.final {
background-color: rgb(22, 211, 186);
margin-bottom: -60px;

}

.l {
    font-family: 'Archivo Narrow', sans-serif;
    margin-left: 150px;
    padding-top: 90px
}

footer {
    background-color: rgb(22, 211, 186);;
}









