body {
min-width: 960;
}

h1 {
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
    color: blueviolet;
    font-weight: 700;
    font-size: 81px;
    padding-top: 151px;
    padding-bottom: 0px;
    margin-top: 0;
    
}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
    color: whitesmoke;
    text-align: center;
    font-weight: 520;
    font-size: 31px;
    margin-top: -60px;
}

body > header {
    background-image: url(https://gradients.design/public/uploads/files/v6.png);
    background-position: center;
    background-size: cover;
    padding: 0% 0% 12.5% 0%;
}

h3 {
    font-family: 'Archivo Narrow', sans-serif;
    color: whitesmoke;
    text-align: center;
    font-weight: 520;
    font-size: 42px;
    margin-top: 15px;
}

.main {
    background-color: palevioletred;
    padding-top: 5px; 
    height: 720px;
    padding-bottom: 15px;

}
  
#first {
    font-family: 'Archivo Narrow', sans-serif;
    color: navy;
    float: left;
    font-weight: 550;
    font-size: 16.75px;
    line-height: 30px;
    margin-top: -40px;
    margin-left: 230px;
    margin-right: 240px;
    float: left;
    padding: 10px;
    shape-outside: ellipse();
}


.pic {
    object-fit: cover;
    width: 400px;
    height: 300px ;
    float: right; 
    margin: 15px -25px 0px 0px; 
    padding: 10px;
}

h4 {
    font-family: 'Archivo Narrow', sans-serif;
    color: whitesmoke;
    text-align: center;
    font-weight: 520;
    font-size: 4200px;
    margin-top: 10px;

}









