body {
min-width: 960;
min-height: 2380px;
}

h1 {
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
    color: blueviolet;
    font-weight: 700;
    font-size: 81px;
    padding-top: 151px;
    padding-bottom: 0px;
    margin-top: 0;
    
}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
    color: whitesmoke;
    text-align: center;
    font-weight: 520;
    font-size: 31px;
    margin-top: -60px;
}
h1, h2 { margin: 0; }

header h2 {
    padding-bottom: 180px
}
body > header {
    background-image: url(https://gradients.design/public/uploads/files/v6.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Archivo Narrow', sans-serif;
    color: lightpink;
    text-align: center;
    font-weight: 520;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 0;
    padding-top: 30px;
}

p {
    line-height: 1.5;
    font-size: 1.2

}

.main {
    background-color: palevioletred; 
    padding-bottom: 55px;
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
    padding-top: 1px
    margin-top: -10px;

}
  
#first {
    font-family: 'Archivo Narrow', sans-serif;
    color: navy;
    font-weight: 550;
    font-size: 16.75px;
    line-height: 30px;

}


.pic {
    object-fit: cover;
    width: 400px;
    height: 300px ;
    float: right; 
    margin: -10px 5px 0px 0px; 
    padding-left: 30px;
    padding-bottom: 60px;
}

h4 {
    font-family: 'Archivo Narrow', sans-serif;
    color: black;
    text-align: center;
    font-weight: 520;
    font-size: 40px;
    margin-top: -4px;
    margin-bottom: 16px;
    padding-top: 13px


}

.grid {
display: grid;
display: inline-block;
grid-template-columns: 100px 100px;
width: 100%;
padding: 0
}

.grid li {
    display: block;
    margin-bottom: 24px;
    color: red;
    width: 50%;
 

}

.shoe {
    width: 200px;
    height: 150px;
    object-fit: cover;
    float: left;
    padding-right: 10px;
}

h5 {
    font-family: 'Archivo Narrow', sans-serif;
    margin-top: 0px;
    font-weight: 200px;
    font-size: 20px;
    margin-bottom: 0px;
    
}

h6 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 18px;
    font-weight: 120px;
    margin-top: 0px;
    margin-right: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
    
}


.using-floats li {
    float: left;
}

.using-floats::after {
    content: "";
    display: block;
    clear: both;

}
.second {
    background-color: blueviolet; 
    padding-left: calc(50% - 480px);
padding-right: calc(50% - 480px);

;
  }

.last {
    font-family: 'Archivo Narrow', sans-serif;
    background-size: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 120px;
    padding-left: calc(50% - 350px);
    padding-right: calc(50% - 350px);
    padding-top: -30px;
    
}
.four {
    font-family: 'Archivo Narrow', sans-serif;
    color: black;
    text-align: center;
    font-weight: 520;
    font-size: 40px;
    margin-top: 0px;
    padding-top: 55px;
    margin-bottom: 0px;
}


.final {
background-color: rgb(22, 211, 186); 
margin-bottom: 60px;
padding-bottom: 70px;

}

.l {
    font-family: 'Archivo Narrow', sans-serif;
   

}

footer {
    background-color:white; 
    padding: 30px;
    margin-top: -70px;
    font-size: 18px;
    
}









