p {
    text-align:center
}
.img{ 
    text-align: center
}
h1 {
    text-align:center
}
h2 {
    text-align:center
}
.verse {
    color: blueviolet
}
.chorus{
    color: rgb(223, 17, 103)
}
.bridge{
    color: darkblue;
}
